* {
    margin: auto;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    margin: 0px 10px 0px 10px;
    width: fit-content;
    min-width: 5vw;
    height: fit-content;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    background-color: #7AC7E6
}

button:hover{
    scale: 1.05;
}

body{
    background-color: #DCF4F7;
}

#settings{
    height: fit-content;
    margin: 0px;
    margin-bottom: 5vh;
    width: 100vw;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: url(./pexels-ann-h-1762851.jpg);
    background-size: 100vw;
    background-position-y: center;
}

h1 {
    text-align: center;
    padding: 10px;
}

.slidecontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: fit-content;
    width: 30vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#buttons{
    width: fit-content;
    padding-bottom: 20px;
}

.selected{
    background-color: #F25260;
}

#sketchpad {
    display: grid;
    gap: 0px;
    height: 500px;
    max-height: 100vw;
    width: 500px;
    max-width: 100vw;
}



.pixel{
    margin: 0px;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
}

